/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* No olvides definir estilos para focus */
:focus {
  outline: 0;
}

/* No olvides resaltar de alguna manera el texto insertado/borrado */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* En el código HTML es necesario añadir cellspacing="0" */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a{
  text-decoration: none;
  padding: 3px;
}
a:hover{ 
  color: blue;
  border: solid green 1px;
}

header{
  display: flex;
  align-content:space-evenly;
}

#htop{
    display: flex;
    align-items: center;
    justify-content:space-between;    
    background-image: url("Colores y texturas/06.jpg");
    background-size: cover;
    padding: 3px;
    
    }

#redestop{
    display: inline;
    border: 3px solid black;
    align-items:center;
    font: 20px bold verdana;
   }
#lupa {
  display: flex;
  align-items:center;
  border: 3px solid black;
  border-radius: 3px;
 
}
li {
    display: inline;
    padding: 15px;
    text-align: center;


}
#hmid{
  background-image: url("https://placeimg.com/1000/480/nature");
  background-size: cover;
}

nav{
  display: flex;
  justify-content:center;
  align-items:center;
  background-image: url("Colores y texturas/07.jpg");
  background-size: cover;
  padding: 12px;
}

#div.menulista{
  display: inline;
  align-items:center;
  font: 10px bold verdana;
  
}
.central {
  display: flex;
  justify-content:space-around; 
  align-items: center;
  flex-wrap: wrap;
  margin: 12px;
  box-shadow: rgb(51, 51, 40) 1px 1px 5px;
  background-image: url("Colores y texturas/06.jpg");
  background-size:cover;
  opacity: 0.7;
}
#imagen1{
    background-color: tomato;
    margin: 12px; 
    padding: 12px;
    border-radius: 50px black;
    box-shadow: rgb(51, 51, 40) 1px 1px 5px;
}
#entrada{
    display: flex;
    align-items:center;
    background-color: yellow;
    padding: 12px;
    border-radius: 50px black;
    box-shadow: rgb(51, 51, 40) 1px 1px 5px;
}

footer{
    clear: both;
    background-color: lightblue;
}

@media screen and (max-width: 768px) {
  .central {
    width: 95%;
  }
}
@media screen and (max-width: 425px) {
  .central {
    width: 95%;
  }
  #linksnav {
    position: relative;
}
  .menulista {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    background:rgba(255, 255, 255, 0.5);
  }
  .hamburguesa {
    border: 1px solid gray;
    text-align: center;
  }

  .hamburguesa:hover + .menulista{
    display: flex;
    flex-direction: column;
    text-align: right;

}
}